@font-face {
  font-family: "Segoe UI";
  src: url("../font/SegoeUI.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../font/SegoeUI_Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
// @font-face {
//     font-family: 'Segoe UI';
//     src: url('../font/SegoeUI_Italic.ttf');
//     font-style: italic;
//     font-weight: 400;
// }
// @font-face {
//     font-family: 'Segoe UI';
//     src: url('../font/SegoeUI_Bold_Italic.ttf');
//     font-style: italic;
//     font-weight: 700;
// }
