.services {
  padding: 117px 0 18px;
  background: #f4f1ed;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 210px;
  }
  &-wrap {
    display: flex;
    gap: 64px;
    justify-content: center;
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &-title {
    display: block;
    max-width: 359px;
    h2 {
      color: $title;
      @include t-font(400, 44px, 1.2);
      letter-spacing: 1px;
    }
  }
  &-item-wrap {
    @extend %df;
    align-items: start;
    max-width: 332px;
    gap: 56px;
    margin: 40px 0 58px;
    li {
      @extend %fcc;
      gap: 10px;
      cursor: pointer;
      &:hover {
        .services-item-count {
          color: #fff;
          background: $title;
          &::after {
            background: #fff;
          }
        }
      }
    }
  }
  &-item-count {
    @extend %fcc;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #9faba7;
    background: transparent;
    color: $title;
    @include font(400, 16px, 1.3);
    transition: all 0.3s ease;
    &::after {
      content: "";
      display: flex;
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      left: 50%;
      bottom: -4px;
      transform: translateX(-50%);
      background: $title;
      transition: all 0.3s ease;
    }
  }
  &-item-category {
    color: $title;
    @include font(400, 16px, 1.3);
  }
  &-images {
    display: flex;
    width: 593px;
    height: 438px;
    flex-shrink: 0;
    margin-top: 11px;
    img {
      @extend %img;
    }
  }
  &-more-btn {
    @extend %fcc;
    border: none;
    color: $title;
    @include font(400, 16px, 1.3);
    border-bottom: 1px solid #9faba7;
  }
  .s-b {
    width: 100%;
    h2 {
      color: #0e2d2299;
      @extend %s-b-s-t;
    }
  }
}
